.container.form-elements
    div.form-elements__column
        +input_simple('email','Email','text field', 'default')
        +input_simple('input--active', '', 'text field', 'hover/focus')(value='This is pretty awesome')
        +input_dropdown('dropdown', 'Сколько гостей', 'dropdown', '')
        +input_simple('mask-date', 'ДД.ММ.ГГГГ', 'masked text field')
        +input_range('date-dropdown', 'date dropdown', 'date dropdown')
        +filter_date('some-filter', 'filter date dropdown')
        +subscription('some-subscription', 'Email', 'subscription text field')

    div.form-elements__column
        h3.checkbox_tilte='checkbox buttons'
        +checkbox('some-checkbox', 'Можно курить', 'first-group', 'first-group-1')
        +checkbox('some-checkbox', 'Можно c питомцами', 'first-group', 'first-group-2')
        +checkbox('some-checkbox', 'Можно пригласить гостей (до 10 человек)', 'first-group', 'first-group-3')


    div.form-elements__column
    