.container.form-elements
    div.form-elements__column
        +input_simple('email','Email','text field', 'default')
        +input_simple('input--active', '', 'text field', 'hover/focus')(value='This is pretty awesome')
        +input_dropdown('dropdown', 'Сколько гостей', 'dropdown', '')
        +input_simple('mask-date', 'ДД.ММ.ГГГГ', 'masked text field')
        +input_range('date-dropdown', 'date dropdown', 'date dropdown')

    div.form-elements__column

    div.form-elements__column
    