.container.form-elements
    div.form-elements__column
        +input_simple('email','Email','text field', 'default')
        +input_simple('input--active', '', 'text field', 'hover/focus')(value='This is pretty awesome')
        +input_dropdown('dropdown', 'Сколько гостей', 'dropdown', '')
        +input_simple('mask-date', 'ДД.ММ.ГГГГ', 'masked text field')
        +input_range('date-dropdown', 'date dropdown', 'date dropdown')
        +filter_date('some-filter', 'filter date dropdown')
        +subscription('some-subscription', 'Email', 'subscription text field')

    div.form-elements__column
        h3.checkbox-tilte='checkbox buttons'
        +checkbox('some-checkbox', 'Можно курить', 'first-group', 'first-group-1')
        +checkbox('some-checkbox', 'Можно c питомцами', 'first-group', 'first-group-2')
        +checkbox('some-checkbox', 'Можно пригласить гостей (до 10 человек)', 'first-group', 'first-group-3')

        h3.radio-title='radio buttons'
        .radio
            +radiobox('some-radio', 'Мужчина', 'group-1', 'group-1-1')
            +radiobox('some-radio', 'Женщина', 'group-1', 'group-1-2')
        
        h3.toggle-title="toggle"
        +toggle('some-toggle', 'Получать спецпредложения', radioname='radio')
        +toggle('some-toggle', 'Получать спецпредложения', radioname='radio')


    div.form-elements__column
    