.input-wrapper{
    margin-bottom: 20px;
}

.form-elements{
    display: flex;
    justify-content: space-between;
    align-content: flex-end;

    &__column{
        
        min-width: 320px;

        &:nth-child(2){
            padding-left: 28px;
        }
    }

    .range-date-dropdown, .wrapper-some-subscription{
        margin-top: 40px;
    }
    .filter-some-filter{
        margin-top: 20px;
    }

    &__title{
        margin-top: 40px;
    }
    .radio{
        max-width: 220px;
        display: flex;
        justify-content: space-between;
    }

    .some-like-1{
        margin-right: 10px;
    }
    
    .stars-wrapper{
        width: 260px;
        display: flex;
        justify-content: space-between;
    }

    .buttons-title{
        margin-top: 25px;
    }
    .btns-wrapper{
        width: 250px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        button{
            margin-bottom: 30px;
            margin-right: 20px;
        }
    }
}

