.input-wrapper{
    margin-bottom: 20px;
}

.form-elements{
    display: flex;
    justify-content: space-between;

    &__column{
        min-width: 33.33%;
    }

    .range-date-dropdown, .wrapper-some-subscription{
        margin-top: 40px;
    }
    .filter-some-filter{
        margin-top: 20px;
    }

    &__title{
        margin-top: 40px;
    }
    .radio{
        max-width: 220px;
        display: flex;
        justify-content: space-between;
    }

    .some-like-1{
        margin-right: 10px;
    }
    
    .stars-wrapper{
        width: 260px;
        display: flex;
        justify-content: space-between;
    }
}

