.header{
    width: 100%;
    background-color: #fff;
    
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $darkshadow50;
        padding: 15px 20px;
    }

    &__logo{
        height: 40px;
        width: 105px;
        align-items: flex-end;

        img{
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .active-page-link{
        a{
            font-weight: 600;

        }
    }

    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &-item{
            padding: 5px 10px;
        }

        &-btn{
            margin-left: 13px;
        }
        &-btn:last-child{
            margin-left: 20px;
        }
        

        .header__nav-item-name{
            margin-left: 17px;
        }

        &--registration{
            padding-top: 9px;
            padding-bottom: 10px;
        }
        &--signin{
            padding-top: 7px;
            padding-bottom: 7px;
        }
    }
}

