.btn-type-two{
    padding: 10px 18px 13px 18px;

    font-family: Montserrat;

    color: $purple;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 0em;
    text-transform: uppercase;

    background-color: #fff;

    border: 2px solid $purple;
    border-radius: 22px;
    
    transition-duration: .4s;

    &:hover, &--hover{
        opacity: .5;
    }
}
