.plus{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 2px;
    margin-top: 3px;
    
    &__img{
        width: 48px;
        height: 48px;
        text-align: center;
        line-height: 48px;

        img{
            display: inline;
        }
    }
    
    &__text{
        color: $darkshadow75;
        margin-left: 10px;

        &-title{
            margin-bottom: 4px;
            text-transform: none;
            font-size: 14px;
        }
    }
}