mixin plus(className, title, subtitle, imgUrl)
    div(class="plus "+className  subtitlt=subtitle imgUrl=imgUrl)
        .plus__text
            h3.plus__text-title=title
            span.plus__text-subtitle=subtitle
        .plus__img
