.bullet-list{
    &__title{
        margin-bottom: 14px;
    }

    li{
        max-width: 250px;
        position: relative;
        display: block;
        margin-top: 10px;
        padding-left: 20px;

        .dot{
            position: absolute;
            top: 5px;
            left: 0;
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-right: 10px;
            border-radius: 50%;
            background: rgba(31, 32, 65, 0.25);
        }
    }
}