.header-footer
    +header('header-footer__header header-footer__header--false', false)
    +header('header-footer__header header-footer__header--true', true, 'Юлий Цезарь', 'news')
    header(className, logined=false, activePage="about_us", name="noname")
    +footer('header-footer__footer')
    +footer('header-footer__footer mobile')