
mixin filter_date(className, title, element, placeholder="начало - конец")
    div(class="filter-date filter-"+className)
        +input_dropdown(className, placeholder, title)
        div(class="filter-date__dropdown")
            element