
.first-block{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding-top: 145px;

    .colors{
        &__item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;

            &-color{
                width: 70px;
                height: 70px;
                border-radius: 6px;
                margin-right: 40px;
            }

            &--1{
                .colors__item-color{
                    background-color: $darkshadow100;
                }
            }
            &--2{
                .colors__item-color{
                    background-color: $darkshadow75;
                }
            }
            &--3{
                .colors__item-color{
                    background-color: $darkshadow50;
                }
            }
            &--4{
                .colors__item-color{
                    background-color: $darkshadow25;
                }
            }
            &--5{
                .colors__item-color{
                    background-color: $darkshadow5;
                }
            }
            &--6{
                .colors__item-color{
                    background-color: $purple;
                }
            }
            &--7{
                .colors__item-color{
                    background-color: $green;
                }
            }


        }
    }

    .font-styles{
        &__style{
            position: relative;
            margin-bottom: 50px;

            span{
                position: absolute;
                left: -60px;
                color: $darkshadow25;
                font-weight: 400;
            }
        }
    }
}
