mixin input_range(className, title1, title2)
    div(class='input-range range-'+className)
        +input_dropdown([className, ' mask-date'], 'ДД.ММ.ГГГГ', 'date dropdown')
        +input_dropdown([className, ' mask-date'], 'ДД.ММ.ГГГГ', 'date dropdown')