
.input-range{
    position: relative;
    width: 100%;
    max-width: 320px;
    display: flex;
    justify-content: space-between;

    .input-wrapper{
        width: calc(50% - 10px);
    }

    &__calendar{
        display: none;
        position: absolute;
        top: calc(100% - 20px);
        z-index: 999;

        &--show{
            display: block;
        }
    }
}