
.container.cards
    .cards__column.cards__column--1
        +search_room('some-search-room')
        +registration('some-registration-card')
    .cards__column.cards__column--2
        +signin('some-signin')
    .cards__column.cards__column--3
        +signin('some-signin')