
.container.cards
    .cards__column.cards__column--1
        +search_room('some-search-room')
        +registration('some-registration-card')
    .cards__column.cards__column--2
        +check('some-check')
        +signin('some-signin')
    .cards__column.cards__column--3
        +calendar('some-calendar')
        +room_slider('some-room-slider', 888, true, 9990, 5, 145, './assets/img/dynamic/room_1.png, ./assets/img/dynamic/room_2.png, ./assets/img/dynamic/room_3.png, ./assets/img/dynamic/room_4.png')
        +room_slider('some-room-slider', 888, true, 9990, 4, 145, './assets/img/dynamic/room_1.png, ./assets/img/dynamic/room_2.png, ./assets/img/dynamic/room_3.png, ./assets/img/dynamic/room_4.png')
        