
.cards{
    display: flex;
    justify-content: space-between;
    padding: 150px 0;

    &__column{
        max-width: 380px;
    }

    .card{
        margin-bottom: 40px;
    }

    .some-room-slider{
        margin-top: 40px;
    }
}