
mixin registration(className)
    form(class="card registration")
        h2.card__title='Регистрация аккаунта'
        +input_simple('registration__firstname ', 'Имя')
        +input_simple('registration__lastname', 'фамилия')
        .registration__sex 
            +radiobox('registration__sex-male', 'Мужчина', 'registration-sex', radioname='radio')
            +radiobox('registration__sex-famale', 'Женщина', 'registration-sex', radioname='radio-2')
        +input_simple('registration__burndate mask-date', 'ДД.ММ.ГГГГ', 'дата рождения')
        +input_simple('registration__email', 'Email', 'данные для входа в сервис')
        +input_simple('registration__password', 'Пароль')
        +toggle('registration__events', 'получать спецпредложения', radioname='radio')
        +btn_type_four('card__submit search-room__submit', 'перейти к оплате')(type="submit")
        .registration__sigin 
            span="Уже есть аккаунт на Toxin"
            +btn_type_two('', 'Войти')