
.registration{

    &__firstname{
        margin-bottom: 10px;
    }

    &__sex{
        margin-top: 10px;
        margin-bottom: 25px;
        display: flex;

        .radiobox:first-child{
            margin-right: 20px;
        }
    }

    .wrapper-registration__email{
        margin-bottom: 10px;
    }

    .toggle_wrapper{
        margin-top: 10px;
    }

    &__sigin{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
    }
}