
.input-wrapper{
    width: 100%;
    max-width: 320px;

    .title{
        width: 100%;
        display: flex;
        justify-content: space-between;

        span{
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            color: $darkshadow50;
        }
    }

    .input{
        width: 100%;
        padding: 13px 15px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        border-radius: 4px;

        color: $darkshadow75;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;

        transition-duration: .4s;

        &::placeholder{
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            color: $darkshadow25;
        }

        &:hover, &:focus, &--active{
            border: 1px solid rgba(31, 32, 65, 0.5);
        }
    }
}

.input-wrapper__dropdown{
    position: relative;

    svg{
        position: absolute;
        right: 17px;
        bottom: 21px;
    }

    .dropdown-panel {
        display: none;
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        padding: 7px 15px;
        border: 1px solid rgba(31, 32, 65, 0.25);
        background-color: #fff;
        border-radius: 0 0 4px 4px;

        z-index: 999;

        &--active{
            display: block;
        }

        &__line{
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 7px;

            &-settings{
                width: 92px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .zero-value{
                .dropdown-panel__line-settings-down{
                    opacity: 0;
                }
            }
            .full-value{
                .dropdown-panel__line-settings-up{
                    opacity: 0;
                }
            }

            & button{
                width: 30px;
                height: 30px;

                font-family: Montserrat;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                font-weight: normal;

                color: rgba(31, 32, 65, 0.5);
                line-height: 12px;
                border: 1px solid rgba(31, 32, 65, 0.25);
                border-radius: 50%;
            }

            span{
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
            }
        }

        &__actions{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            button{
                border: none;
                background: none;

                color: $purple;

                font-family: Montserrat;
                font-size: 12px;
                font-weight: 700;
                line-height: 15px;
                text-align: left;
                
            }
        }
    }
}

