@import './_fonts.scss';

*{
    box-sizing: border-box;
    outline: none;
    flex-shrink: 0;
    margin: 0;
    padding: 0;

    background: none;

}

body{
    font-family: 'Montserrat';
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: $darkshadow100;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

ul, li{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $darkshadow50;

    transition-duration: .4s;

    &:hover{
        color: $darkshadow100;
    }
}

button{
    border: none;
    cursor: pointer;
}
input{
    cursor: pointer;
}

.card{
    display: inline-block;
    max-width: 380px;
    background-color: #fff;
    padding: 40px 30px 30px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__title{
        padding-bottom: 22px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
    }

   
}

