

.input-dropdown{
    position: relative;

    .input-dropdown__icon{
        position: absolute;
        right: 17px;
        bottom: 18px;
        transition-duration: .4s;

        &--rotated{
            transform: rotate(180deg);
        }
    }

    &__input{
        &::placeholder{
            color: $darkshadow75;
        }
    }

    // .dropdown-panel {
    //     display: none;
    //     position: absolute;
    //     width: 100%;
    //     top: 100%;
    //     left: 0;
    //     padding: 7px 15px;
    //     border: 1px solid rgba(31, 32, 65, 0.25);
    //     background-color: #fff;
    //     border-radius: 0 0 4px 4px;

    //     z-index: 999;

    //     &--active{
    //         display: block;
    //     }

    //     &__line{
    //         display: flex;
    //         justify-content: space-between;
    //         align-items: center;

    //         margin-bottom: 7px;

    //         &-settings{
    //             width: 92px;
    //             display: flex;
    //             justify-content: space-between;
    //             align-items: center;
    //         }
    //         .zero-value{
    //             .dropdown-panel__line-settings-down{
    //                 opacity: 0;
    //             }
    //         }
    //         .full-value{
    //             .dropdown-panel__line-settings-up{
    //                 opacity: 0;
    //             }
    //         }

    //         & button{
    //             width: 30px;
    //             height: 30px;

    //             font-family: Montserrat;
    //             font-size: 18px;
    //             line-height: 22px;
    //             text-align: center;
    //             font-weight: normal;

    //             color: rgba(31, 32, 65, 0.5);
    //             line-height: 12px;
    //             border: 1px solid rgba(31, 32, 65, 0.25);
    //             border-radius: 50%;
    //         }

    //         span{
    //             font-weight: bold;
    //             font-size: 12px;
    //             line-height: 15px;
    //         }
    //     }

    //     &__actions{
    //         width: 100%;
    //         display: flex;
    //         justify-content: space-between;
    //         margin-top: 20px;

    //         button{
    //             border: none;
    //             background: none;

    //             color: $purple;

    //             font-family: Montserrat;
    //             font-size: 12px;
    //             font-weight: 700;
    //             line-height: 15px;
    //             text-align: left;
                
    //         }
    //     }
    // }
}

