

.input-dropdown{
    position: relative;

    .input-dropdown__icon{
        position: absolute;
        right: 17px;
        bottom: 18px;
        transition-duration: .4s;

        &--rotated{
            transform: rotate(180deg);
        }
    }

    &__input{
        &::placeholder{
            color: $darkshadow75;
        }
    }


}

