
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Components

        include ../base/includes.pug
    body 

        include ../../blocks/show_components/colors/colors.pug

        include ../../blocks/show_components/form_elements/form_elements.pug

        include ../../blocks/show_components/cards/cards.pug
