mixin input_dropdown_quests(className, placeholder, title, subtitle, actions)
    div(class="filter-date filter-date-quests filter-"+className)
        +input_dropdown(className, 'Удобства ', title, subtitle)
        div(class="filter-date__dropdown")
            +guests_dropdown('some-dropdonw', ['спальни', 'кровати', 'ванные комнаты'],actions)