mixin input_dropdown_guests(className, placeholder, title, subtitle, actions)
    div(class="filter-date filter-date-quests filter-"+className)
        +input_dropdown(className, 'гости ', title, subtitle)
        div(class="filter-date__dropdown")
            +panel_dropdown('some-dropdonw', ['взрослые', 'дети', 'младенцы'],actions)