mixin input_simple(className, placeholder, title, subtitle)
    if(title)
        div(class="input-wrapper wrapper-"+className)
            h3.title=title
                span=subtitle
            input(class="input "+className placeholder=placeholder)&attributes(attributes)
    if(!title)
        input(class="input "+className placeholder=placeholder)&attributes(attributes)
            