
.search-room__content {
    border-bottom: 1px solid $darkshadow25;
    padding-bottom:  70px;

    .container{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }

}


.search-room__footer{
}