
.signin{
    
    .signin__email{
        margin-bottom: 10px;
    }

    &__submit{
        margin-top: 20px;
    }

    &__registration{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        align-items: center;;
    }
}