.btn-type-three{

    font-family: Montserrat;

    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 0em;
    text-transform: uppercase;

    color: $purple;

    transition-duration: .4s;

    &:hover, &--hover{
        color: $darkshadow50;
        opacity: .5;
    }
}
