.btn-type-four{
    position: relative;
    width: 100%;
    max-width: 320px;
    min-width: 200px;

    padding: 14px 20px 15px 20px;

    font-family: Montserrat;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-transform: uppercase;

    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

    border-radius: 22px;

    transition-duration: .4s;
    
    &:hover, &--hover{
        opacity: .5;
    }

    &__icon{
        position: absolute;
        right: 13px;
        top: 13px;
    }
}