
.pagelist{
    &__title{
        margin-bottom: 21px;
        padding-left: 22px;
    }

    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 12px;
        row-gap: 15px;
        padding-left: 22px;
    }

    &__pagination{
        margin: auto;
        margin-top: 36px;
    }
}