.pagelist
    h1.pagelist__title='Номера, которые мы для вас подобрали'
    .pagelist__list
        +room_slider('some-room-slider', 888, true, "9 990", 5, 123, '../assets/img/dynamic/room_1.png, ../assets/img/dynamic/room_2.png, ../assets/img/dynamic/room_3.png, ../assets/img/dynamic/room_4.png')
        +room_slider('some-room-slider', 888, true, "9 990", 4, 288, '../assets/img/dynamic/room_2.png, ../assets/img/dynamic/room_1.png, ../assets/img/dynamic/room_3.png, ../assets/img/dynamic/room_4.png')
        +room_slider('some-room-slider', 888, true, "9 990", 5, 645, '../assets/img/dynamic/room_4.png, ../assets/img/dynamic/room_3.png, ../assets/img/dynamic/room_1.png, ../assets/img/dynamic/room_2.png')
        +room_slider('some-room-slider', 888, true, "9 990", 4, 345, '../assets/img/dynamic/room_1.png, ../assets/img/dynamic/room_4.png, ../assets/img/dynamic/room_3.png, ../assets/img/dynamic/room_2.png')
        +room_slider('some-room-slider', 888, true, "9 990", 3, 189, '../assets/img/dynamic/room_2.png, ../assets/img/dynamic/room_4.png, ../assets/img/dynamic/room_1.png, ../assets/img/dynamic/room_3.png')
        +room_slider('some-room-slider', 888, true, "9 990", 5, 123, '../assets/img/dynamic/room_1.png, ../assets/img/dynamic/room_2.png, ../assets/img/dynamic/room_3.png, ../assets/img/dynamic/room_4.png')
        +room_slider('some-room-slider', 888, true, "9 990", 4, 43, '../assets/img/dynamic/room_2.png, ../assets/img/dynamic/room_1.png, ../assets/img/dynamic/room_3.png, ../assets/img/dynamic/room_4.png')
        +room_slider('some-room-slider', 888, true, "9 990", 5, 142, '../assets/img/dynamic/room_4.png, ../assets/img/dynamic/room_3.png, ../assets/img/dynamic/room_1.png, ../assets/img/dynamic/room_2.png')
        +room_slider('some-room-slider', 888, true, "9 990", 3, 234, '../assets/img/dynamic/room_1.png, ../assets/img/dynamic/room_4.png, ../assets/img/dynamic/room_3.png, ../assets/img/dynamic/room_2.png')
        +room_slider('some-room-slider', 888, true, "9 990", 5, 134, '../assets/img/dynamic/room_2.png, ../assets/img/dynamic/room_4.png, ../assets/img/dynamic/room_1.png, ../assets/img/dynamic/room_3.png')
        +room_slider('some-room-slider', 888, true, "9 990", 5, 198, '../assets/img/dynamic/room_1.png, ../assets/img/dynamic/room_2.png, ../assets/img/dynamic/room_3.png, ../assets/img/dynamic/room_4.png')
        +room_slider('some-room-slider', 888, true, "9 990", 4, 277, '../assets/img/dynamic/room_1.png, ../assets/img/dynamic/room_2.png, ../assets/img/dynamic/room_3.png, ../assets/img/dynamic/room_4.png')
    +pagination('pagelist__pagination', 15, '1 - 12 из 100+ вариантов аренды')