.container.form_elements
    +input_simple('email','Email','text field', 'default')
    +input_simple('input--active', '', 'text field', 'hover/focus')(value='This is pretty awesome')
    +input_dorpdown('dropdown', 'Сколько гостей', 'dropdown', '', ['cпальни', 'кровати', 'ванная комната'])