include ../../components/inputs/input_simple/input_simple.pug
include ../../components/inputs/input_dropdown/input_dropdown.pug
include ../../components/inputs/input_range/input_range.pug
include ../../components/inputs/filter_date/filter_date.pug
include ../../components/inputs/subscription/subscription.pug
include ../../components/inputs/checkbox/checkbox.pug
include ../../components/inputs/radiobox/radiobox.pug
include ../../components/buttons/toggle/toggle.pug
include ../../components/other/like/like.pug
include ../../components/other/stars/stars.pug

